venv/
NN/NN_V6.0/betaset.csv
NN/NN_V6.0/betaset_tmp.csv
NN/o_MISC_MODELS/using_NNV6/betaset_tmp.csv
NN/o_MISC_MODELS/aeon_V6.0data/betaset_tmp.csv
RotationalEnsemble/betaset_tmp.csv
RotationalEnsemble/d1_clean.csv
.tf_/
.torch_/